

# Functions to export -- main
export(check_arg, check_arg_plus, check_set_arg)
export(check_value, check_value_plus, check_set_value)
export(check_expr)
export(validate_dots)

# hook related functions
export(set_hook, stop_hook, warn_hook, check_expr_hook)
export(generate_set_hook, generate_stop_hook, generate_warn_hook, 
       generate_check_expr_hook, generate_get_hook)

# stop/warn
export(stop_up, warn_up, stopi, warni)

# misc
export(fit_screen, suggest_item)

# Other, deprecated following stringmagic integration
export(n_letter, n_th, n_times)
export(signif_plus, fsignif)
export(ifsingle, ifunit, plural, plural_len, enumerate_items)
export(sfill)

# Setter/Getter
export(setDreamerr_check, setDreamerr_dev.mode, setDreamerr_show_stack)
export(set_up, set_check)

# Goodies
export(package_stats)


#
# IMPORTS
#

importFrom(Formula, Formula)
importFrom(utils, find)
importFrom(stringmagic, sma, string_magic)


