

# Functions to export -- main
export(check_arg, check_arg_plus)
export(check_value, check_value_plus)
export(validate_dots)

export(stop_up, warn_up)

# Other
export(n_letter, n_th, n_times)
export(signif_plus)
export(ifsingle, ifunit, plural, plural_len, enumerate_items)
export(fill_symbol)

# Setter/Getter
export(setDreamerr_check, setDreamerr_dev.mode)
export(set_up)

# Goodies
export(package_stats)


#
# IMPORTS
#

importFrom(Formula, Formula)


